@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[3.6rem] font-bold text-black dark:text-slate-100;
  }

  h2 {
    @apply dark:text-gray-400;
  }

  p {
    @apply text-gray-400 dark:text-gray-600;
  }

  * {
    @apply transition-colors duration-1000;
  }
}

html {
  --background: white;
  --grey-200: #222222;
  --grey-400: #444444;
  --grey-600: #333333;
  --grey-900: #111111;
  --profilePic: #afafbf;
  --green: #0dbd8b;
}

html.dark {
  --background: black;
  --grey-200: #eaeaea;
  --grey-400: #acacac;
  --grey-600: #ffffff;
  --grey-900: #fafafa;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;

  color: var(--grey-600);
}

/* h1 {
  font-size: 3rem;
  line-height: 1;
} */

/* h1 + h2 {
  font-size: 1.1rem;
  margin-top: -1.4rem;
  opacity: 0.9;
  font-weight: 400;
} */

/* main {
  max-width: 90rem;
  margin: auto;
} */

/* p,
li {
  font-size: 1rem;
  color: var(--grey-400);
  opacity: 0.8;
}

li {
  margin: 1rem 0;
} */
