---
import Main from "../layouts/Main.astro";
---

<Main title="Impressum">
    <div class="max-w-3xl mx-auto px-6 py-12 text-center mt-14">
        <h1 class="font-bold mb-6">Impressum</h1>
        <p class="mb-4">Angaben gemäß § 5 TMG:</p>
        <p class="mb-4">
            Julian Schaefers<br />
            Volkartshainer Straße 44<br />
            63688 Gedern<br />
            Deutschland
        </p>
        <p class="mb-4">
            E-Mail:
            <a href="mailto:julian.schaefers05@gmail.com" class="text-blue-400 dark:text-gray-400 hover:underline">
                julian.schaefers05@gmail.com
            </a>
        </p>
        <p class="mb-4">
            Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br />
            Julian Schaefers<br />
            Volkartshainer Straße 44<br />
            63688 Gedern<br />
            Deutschland
        </p>
    </div>
</Main>
