---
import Main from "../layouts/Main.astro";
import CardsContainer from "../components/CardsContainer.astro";
import ExperienceContainer from "../components/ExperienceContainer.astro";
import Interests from "../components/Interests.astro";
const profilePicture = "images/bild.png";

/* const blogs = await Astro.glob<{
  title: string;
  poster: string;
  subtitle: string;
}>("../pages/blogs/*.md"); */
---

<Main title="Home">
  <div
    class="mt-32 flex flex-wrap items-start px-4 py-0 max-[1112px]:flex-col max-[1112px]:items-center max-[1112px]:justify-center"
  >
    <div
      id="IMG__DIV"
      class="hidden h-max max-w-96 overflow-hidden rounded-l-[350px] rounded-r-[100px] bg-slate-800 max-[1112px]:relative max-[1112px]:ml-6 max-[1112px]:flex max-[1112px]:h-[22.5rem] max-[1112px]:w-[22.5rem] max-[1112px]:rounded-full dark:bg-slate-300"
    >
      <img
        class="-mt-16 mb-4 ml-0 mr-8 h-auto w-full pb-4 pl-4 pr-3 pt-3 max-[1112px]:absolute max-[1112px]:-bottom-32 max-[1112px]:-left-12 max-[1112px]:object-cover"
        src={profilePicture}
        alt="Portrait of Julian Schaefers"
        width=""
        height=""
      />
    </div>

    <img
      class="-mt-16 mb-4 ml-0 mr-8 h-auto w-80 rounded-l-[350px] rounded-r-[100px] bg-slate-800 pb-4 pl-4 pr-3 pt-3 max-[1112px]:absolute max-[1112px]:-bottom-32 max-[1112px]:-left-12 max-[1112px]:hidden max-[1112px]:object-cover dark:bg-slate-300"
      src={profilePicture}
      alt="Portrait of Julian Schaefers"
    />

    <div
      id="PERSONAL__INFO"
      class="-mt-5 ml-5 max-[1112px]:mt-6 max-[1112px]:flex max-[1112px]:flex-col max-[1112px]:items-center max-[1112px]:justify-center"
    >
      <h1
        class="mt-0 font-bold transition-colors duration-0 max-[1112px]:flex max-[1112px]:flex-col max-[1112px]:items-center max-[1112px]:justify-center max-[1112px]:text-justify"
      >
        <span class="">Julian</span>
        <span class="">Schaefers</span>
      </h1>
      <h2 class="mt-2">Oberschüler, 18 Jahre alt</h2>
      <p class="mt-10">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor.
      </p>
    </div>
  </div>

  <hr class="mb-20 mt-20 h-0.5 border-none bg-slate-400 opacity-[0.3]" />

  <CardsContainer
    cards={[
      {
        title: "John F.- Kennedy Schule",
        content1: "Grundschule",
        content2: "",
        gradientFrom: "#fde68a",
        gradientTo: "#fca5a5",
        to: "https://www.john-f-kennedy-schule.de/",
      },
      {
        title: "Alfred-Delp-Schule Dieburg",
        content1: "Leistungsfächer: Informatik, Mathe",
        content2: "Angestrebter Schulabschluss: Fachhochschulreife",
        gradientFrom: "#6ee7b7",
        gradientTo: "#9333ba",
        to: "https://ads-dieburg.de/",
      },
      {
        title: "Goetheschule Dieburg",
        content1: "5 Schuljahre erfolgreich abgeschlossen",
        content2: "Gymnasialzweig",
        gradientFrom: "#fde68a",
        gradientTo: "#fca5a5",
        to: "https://goethe.schule/",
      },
    ]}
  />

  <!-- <div class="featured-blogs">
    <h3 class="featured-blogs__title">Featured Blogs</h3>
    <p class="featured-blogs__description">
      Opinion pieces that will change everything you know about web development.
    </p>
  </div>

  <ol class="blogs">
    {
      blogs.map((blog) => (
        <li class="blogs__list">
          <a class="blog__link" href={blog.url}>
            {blog.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ol> -->

  <hr class="mb-20 mt-20 h-0.5 border-none bg-slate-400 opacity-[0.3]" />

  <ExperienceContainer />

  <hr class="mb-20 mt-20 h-0.5 border-none bg-slate-400 opacity-[0.3]" />

  <Interests />
</Main>

<style>
  .featured-blogs {
    margin: 0;
    padding: 3rem 0 0 0;
  }

  .featured-blogs__title {
    font-size: 2rem;
    color: var(--grey-900);
  }

  .featured-blogs__description {
    margin-top: -1.2rem;
  }

  .blogs {
    font-size: 1rem;
    font-weight: 500;
  }

  .blog__list {
    border-bottom: 1px solid;
    border-color: var(--grey-200);
  }

  .blog__link {
    opacity: 1;
    height: 100%;
    display: block;
    padding: 1rem 0;
    color: var(--grey-200);
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
    border-bottom: 1px solid;
    border-color: var(--grey-200);
  }

  .blog__link:hover {
    opacity: 0.7;
  }
</style>
