---
import Main from "../layouts/Main.astro";
import EduContainer from "../components/EducationContainer.astro";
import ExperienceContainer from "../components/ExperienceContainer.astro";
import Interests from "../components/InterestsContainer.astro";
import HeroSection from '../components/HeroSection.jsx';
import HeadingNeon from "../components/HeadingNeon.astro";

/* const blogs = await Astro.glob<{
  title: string;
  poster: string;
  subtitle: string;
}>("../pages/blogs/*.md"); */
---

<Main title="Home">

  <HeroSection client:load />

  <hr
    class="z-10 mx-5 mb-20 mt-20 h-0.5 border-none bg-slate-400 opacity-[0.3]"
  />

  <HeadingNeon title="Bildung" />
  <EduContainer
    cards={[
      {
        title: "John-F.-Kennedy-Schule",
        content1: "4 Schuljahre erfolgreich abgeschlossen",
        content2: "Grundschule",
        gradientFrom: "#fde68a",
        gradientTo: "#fca5a5",
        to: "https://gs-jfk.edupage.org",
      },
      {
        title: "Alfred-Delp-Schule Dieburg",
        content1: "Leistungsfächer: Informatik, Mathe",
        content2: "Fachhochschulreife",
        gradientFrom: "#6ee7b7",
        gradientTo: "#9333ba",
        to: "https://ads-dieburg.de/",
      },
      {
        title: "Goetheschule Dieburg",
        content1: "5 Schuljahre erfolgreich abgeschlossen",
        content2: "Mittelschule — Gymnasialzweig",
        gradientFrom: "#fde68a",
        gradientTo: "#fca5a5",
        to: "https://goethe.schule/",
      },
    ]}
  />

  <hr
    class="z-10 mx-5 mb-20 mt-20 h-0.5 border-none bg-slate-400 opacity-[0.3]"
  />

  <ExperienceContainer />

  <hr
    class="z-10 mx-5 mb-20 mt-20 h-0.5 border-none bg-slate-400 opacity-[0.3]"
  />

  <Interests />
</Main>
