---
import Main from "../layouts/Main.astro";
import Carousel from "../components/Carousel.astro";
import HeadingNeon from "../components/HeadingNeon.astro";
---

<Main title="Praktikum">
  <!-- MAXIMUM 3 Images -->
  <Carousel
    images={[
      "../images/praktikum-3.jpg",
      "../images/praktikum-2.jpg",
      "../images/praktikum-1.jpg",
    ]}
  />
  <HeadingNeon title="we { code } it" />
  <p>Kay Haikal & Sophia Wittwer</p>
</Main>
