---
import Card from "./NeonBorderCard.astro";
import HeadingNeon from "./HeadingNeon.astro";

import type { Props as CardProp } from "./NeonBorderCard.astro";

type Props = {
  cards: CardProp[];
};

const { cards } = Astro.props;
---

<HeadingNeon title="Bildung" />
<div
  class="mb-40 mt-24 flex w-full flex-col justify-center gap-4 px-3 xl:flex-row"
>
  {cards.map((card) => <Card {...card} />)}
</div>
