---
import HeadingNeon from "./HeadingNeon.astro";
---

<HeadingNeon title="Berufserfahrung"/>
<ul role="list" class="ml-48 mr-48 mt-12">
  <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <p class="text-xl font-semibold leading-">01/2020 (2 Wochen)</p>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-xl font-bold leading-6">Praktikum bei "we &#123code&#125 it" (Softwareentwicklung)</p>
      <p class="mt-1 text-l leading-5">Schwerpunkt: Web-Design mithilfe vom Symfony-Framework (PHP)</p>
    </div>
  </li>
  <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <p class="text-xl font-semibold leading-6">03/2021 - 01/2023</p>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <p class="text-xl leading-6 font-bold">Schülernachhilfe</p>
      <p class="mt-1 text-xl leading-5">Fächer: Mathematik, Englisch, Informatik</p>
    </div>
  </li>
</ul>

<style>
    p {
        --tw-text-opacity: 1;
        color: rgb(156 163 175 / var(--tw-text-opacity));
    }
</style>