<footer
  class="mb-10 mt-20 flex flex-row items-center justify-center text-center text-[0.9rem]"
>
  &copy; by Julian Schaefers –– Created with
  <div
    class="mx-3 rounded-xl bg-slate-300 transition-all duration-200 ease-in-out hover:scale-95 dark:bg-slate-800"
  >
    <a
      class="bg-gradient-to-r from-[#494bf8] from-20% to-[#b657ed] bg-clip-text p-3 font-[monospace] text-[1.15rem] font-semibold uppercase text-transparent"
      href="https://astro.build/">&lt; Astro /&gt;</a
    >
  </div>
  and
  <div
    class="mx-3 rounded-xl bg-slate-300 transition-all duration-200 ease-in-out hover:scale-95 dark:bg-slate-800"
  >
    <a
      class="bg-gradient-to-r from-[#77c8f0] to-[#ea6eb0] bg-clip-text p-3 font-[monospace] text-[1.15rem] font-semibold uppercase text-transparent"
      href="https://tailwindcss.com/">&lt; Tailwind /&gt;</a
    >
  </div>
</footer>
