---
export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class="heading">
  <h1
    class="max-[800px]:text-[2.5rem] max-[600px]:ml-3 max-[600px]:text-[2rem] max-[500px]:ml-2 max-[500px]:text-[1.8rem] max-[455px]:text-[1.7rem] max-[436px]:text-[1.6rem] max-[417px]:text-[1.5rem] max-[398px]:text-[1.4rem]"
  >
    <span class="htmlTokens neon-cyan-green transition-colors duration-0"
      >&lt;
    </span>
    {title}
    <span style="color: var(--green); margin-left: -0.6rem">.</span>
    <span class="htmlTokens neon-purple transition-colors duration-0">
      /&gt;</span
    >
  </h1>
</div>

<style>
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    max-width: 100%;
  }

  .htmlTokens {
    font-family: "Major Mono Display", monospace;
    margin: 0 1.3rem 0 1.3rem;
  }

  .neon-cyan-green {
    text-shadow:
      0 0 5px #6ee7b7,
      0 0 10px #6ee7b7,
      0 0 20px #6ee7b7,
      0 0 40px #6ee7b7,
      0 0 60px #6ee7b7,
      0 0 80px #6ee7b7,
      0 0 100px #6ee7b7;
  }

  .neon-orangey {
    text-shadow:
      0 0 5px #fca5a5,
      0 0 10px #fca5a5,
      0 0 20px #fca5a5,
      0 0 40px #fca5a5,
      0 0 60px #fca5a5,
      0 0 80px #fca5a5,
      0 0 100px #fca5a5;
  }

  .neon-purple {
    text-shadow:
      0 0 5px #9333ba,
      0 0 10px #9333ba,
      0 0 20px #9333ba,
      0 0 40px #9333ba,
      0 0 60px #9333ba,
      0 0 80px #9333ba,
      0 0 100px #9333ba;
  }
</style>
