---
import HeadingNeon from "./HeadingNeon.astro";
---

<HeadingNeon title="Kenntnisse und Interessen" />
<ul
  role="list"
  class="ml-48 mr-48 mt-12 max-xl:ml-[15%] max-xl:mr-[10%] max-xl:items-center max-xl:justify-center"
>
  <div
    class="max-xl:flex max-xl:flex-col max-xl:items-start max-xl:justify-start"
  >
    <li class="max-xl:pb-12 xl:flex xl:justify-between xl:gap-x-6 xl:py-5">
      <p
        class="font-semibold leading-6 max-xl:text-2xl max-xl:italic dark:text-gray-400"
      >
        Fremdsprachen
      </p>
      <div class="flex flex-col items-end max-xl:items-start">
        <p class="mt-1 text-xl leading-6 max-xl:mt-3 dark:text-gray-400">
          Deutsch (Muttersprache)
        </p>
        <p class="mt-1 text-xl leading-6 dark:text-gray-400">
          Englisch (Fließend)
        </p>
        <p class="mt-1 text-xl leading-6 dark:text-gray-400">
          Spanisch (Grundkenntnisse)
        </p>
      </div>
    </li>
    <li class="max-xl:pb-12 xl:flex xl:justify-between xl:gap-x-6 xl:py-5">
      <p
        class="text-xl font-semibold leading-6 max-xl:text-2xl max-xl:italic dark:text-gray-400"
      >
        IT-Kenntnisse
      </p>
      <div class="flex flex-col items-end max-xl:items-start">
        <p class="mt-1 text-xl leading-6 dark:text-gray-400">
          PHP, Tailwind, Astro, React -> (Anfänger-Fortgeschritten)
        </p>
        <p class="mt-1 text-xl font-bold leading-6 dark:text-gray-400">
          Java, Python, HTML, CSS -> Fortgeschritten
        </p>
      </div>
    </li>
    <li class="max-xl:pb-12 xl:flex xl:justify-between xl:gap-x-6 xl:py-5">
      <p
        class="text-xl font-semibold leading-6 max-xl:text-2xl max-xl:italic dark:text-gray-400"
      >
        Hobbys
      </p>
      <div class="flex flex-col items-end max-xl:items-start">
        <p class="text-xl font-bold leading-6 max-xl:mt-3 dark:text-gray-400">
          Piano, Programmieren, Paar-Tanz(Standard und Latein)
        </p>
        <p class="mt-1 text-xl leading-5 dark:text-gray-400">
          Messdiener (ehrenamtlich seit 9 Jahren)
        </p>
      </div>
    </li>
  </div>
</ul>
