---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Jays Website" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <title>{title}</title>

    <script is:inline>
      // window.localStorage.getItem('color-mode')
      // window.matchMedia("(prefers-color-scheme: light)").matches
      // DARK

      const getInitialColorMode = () => {
        const storedColorMode = window.localStorage.getItem("color-mode");

        if (storedColorMode != null) {
          return storedColorMode;
        }

        if (window.matchMedia("(prefers-color-scheme: light)").matches) {
          return "white";
        }

        return "dark";
      };

      const initialColorMode = getInitialColorMode();

      document.documentElement.setAttribute("data-mode", initialColorMode);
      window.localStorage.setItem("color-mode", initialColorMode);
    </script>
  </head><body
    class="m-auto max-w-[95rem] bg-white font-sans text-slate-600 transition-colors duration-1000 dark:bg-black dark:text-slate-200"
  >
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
